--
-- PostgreSQL database dump
--

\restrict FEp9ZEKNrgqa7iJWkJsF8ePSyMkWcse7l6bk0Pr4VFXVqYgfHmKYxI7cTfn9yjt

-- Dumped from database version 15.14 (Debian 15.14-1.pgdg13+1)
-- Dumped by pg_dump version 15.14 (Debian 15.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Instance; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Instance" (
    id integer NOT NULL,
    name text NOT NULL,
    description text,
    status text DEFAULT 'active'::text NOT NULL,
    "dmId" integer NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Instance" OWNER TO postgres;

--
-- Name: InstanceCharacter; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."InstanceCharacter" (
    id integer NOT NULL,
    "instanceId" integer NOT NULL,
    "userId" integer NOT NULL,
    "characterName" text NOT NULL,
    "maxHP" integer NOT NULL,
    "currentHP" integer NOT NULL,
    initiative integer NOT NULL,
    conditions text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."InstanceCharacter" OWNER TO postgres;

--
-- Name: InstanceCharacter_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."InstanceCharacter_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."InstanceCharacter_id_seq" OWNER TO postgres;

--
-- Name: InstanceCharacter_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."InstanceCharacter_id_seq" OWNED BY public."InstanceCharacter".id;


--
-- Name: InstanceInvitation; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."InstanceInvitation" (
    id integer NOT NULL,
    "instanceId" integer NOT NULL,
    "playerId" integer NOT NULL,
    status text DEFAULT 'pending'::text NOT NULL,
    "invitedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "respondedAt" timestamp(3) without time zone
);


ALTER TABLE public."InstanceInvitation" OWNER TO postgres;

--
-- Name: InstanceInvitation_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."InstanceInvitation_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."InstanceInvitation_id_seq" OWNER TO postgres;

--
-- Name: InstanceInvitation_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."InstanceInvitation_id_seq" OWNED BY public."InstanceInvitation".id;


--
-- Name: InstanceSession; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."InstanceSession" (
    id integer NOT NULL,
    "instanceId" integer NOT NULL,
    "userId" integer NOT NULL,
    "joinedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "lastSeen" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."InstanceSession" OWNER TO postgres;

--
-- Name: InstanceSession_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."InstanceSession_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."InstanceSession_id_seq" OWNER TO postgres;

--
-- Name: InstanceSession_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."InstanceSession_id_seq" OWNED BY public."InstanceSession".id;


--
-- Name: Instance_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Instance_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."Instance_id_seq" OWNER TO postgres;

--
-- Name: Instance_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Instance_id_seq" OWNED BY public."Instance".id;


--
-- Name: User; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."User" (
    id integer NOT NULL,
    username text NOT NULL,
    password text NOT NULL,
    role text DEFAULT 'Player'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."User" OWNER TO postgres;

--
-- Name: User_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."User_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."User_id_seq" OWNER TO postgres;

--
-- Name: User_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."User_id_seq" OWNED BY public."User".id;


--
-- Name: Instance id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Instance" ALTER COLUMN id SET DEFAULT nextval('public."Instance_id_seq"'::regclass);


--
-- Name: InstanceCharacter id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."InstanceCharacter" ALTER COLUMN id SET DEFAULT nextval('public."InstanceCharacter_id_seq"'::regclass);


--
-- Name: InstanceInvitation id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."InstanceInvitation" ALTER COLUMN id SET DEFAULT nextval('public."InstanceInvitation_id_seq"'::regclass);


--
-- Name: InstanceSession id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."InstanceSession" ALTER COLUMN id SET DEFAULT nextval('public."InstanceSession_id_seq"'::regclass);


--
-- Name: User id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User" ALTER COLUMN id SET DEFAULT nextval('public."User_id_seq"'::regclass);


--
-- Data for Name: Instance; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Instance" (id, name, description, status, "dmId", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: InstanceCharacter; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."InstanceCharacter" (id, "instanceId", "userId", "characterName", "maxHP", "currentHP", initiative, conditions, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: InstanceInvitation; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."InstanceInvitation" (id, "instanceId", "playerId", status, "invitedAt", "respondedAt") FROM stdin;
\.


--
-- Data for Name: InstanceSession; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."InstanceSession" (id, "instanceId", "userId", "joinedAt", "lastSeen") FROM stdin;
\.


--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."User" (id, username, password, role, "createdAt") FROM stdin;
\.


--
-- Name: InstanceCharacter_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."InstanceCharacter_id_seq"', 1, false);


--
-- Name: InstanceInvitation_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."InstanceInvitation_id_seq"', 1, false);


--
-- Name: InstanceSession_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."InstanceSession_id_seq"', 1, false);


--
-- Name: Instance_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Instance_id_seq"', 1, false);


--
-- Name: User_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."User_id_seq"', 1, false);


--
-- Name: InstanceCharacter InstanceCharacter_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."InstanceCharacter"
    ADD CONSTRAINT "InstanceCharacter_pkey" PRIMARY KEY (id);


--
-- Name: InstanceInvitation InstanceInvitation_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."InstanceInvitation"
    ADD CONSTRAINT "InstanceInvitation_pkey" PRIMARY KEY (id);


--
-- Name: InstanceSession InstanceSession_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."InstanceSession"
    ADD CONSTRAINT "InstanceSession_pkey" PRIMARY KEY (id);


--
-- Name: Instance Instance_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Instance"
    ADD CONSTRAINT "Instance_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: InstanceCharacter_instanceId_userId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "InstanceCharacter_instanceId_userId_key" ON public."InstanceCharacter" USING btree ("instanceId", "userId");


--
-- Name: InstanceInvitation_instanceId_playerId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "InstanceInvitation_instanceId_playerId_key" ON public."InstanceInvitation" USING btree ("instanceId", "playerId");


--
-- Name: InstanceSession_instanceId_userId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "InstanceSession_instanceId_userId_key" ON public."InstanceSession" USING btree ("instanceId", "userId");


--
-- Name: User_username_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_username_key" ON public."User" USING btree (username);


--
-- Name: InstanceCharacter InstanceCharacter_instanceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."InstanceCharacter"
    ADD CONSTRAINT "InstanceCharacter_instanceId_fkey" FOREIGN KEY ("instanceId") REFERENCES public."Instance"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: InstanceCharacter InstanceCharacter_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."InstanceCharacter"
    ADD CONSTRAINT "InstanceCharacter_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: InstanceInvitation InstanceInvitation_instanceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."InstanceInvitation"
    ADD CONSTRAINT "InstanceInvitation_instanceId_fkey" FOREIGN KEY ("instanceId") REFERENCES public."Instance"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: InstanceInvitation InstanceInvitation_playerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."InstanceInvitation"
    ADD CONSTRAINT "InstanceInvitation_playerId_fkey" FOREIGN KEY ("playerId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: InstanceSession InstanceSession_instanceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."InstanceSession"
    ADD CONSTRAINT "InstanceSession_instanceId_fkey" FOREIGN KEY ("instanceId") REFERENCES public."Instance"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: InstanceSession InstanceSession_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."InstanceSession"
    ADD CONSTRAINT "InstanceSession_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Instance Instance_dmId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Instance"
    ADD CONSTRAINT "Instance_dmId_fkey" FOREIGN KEY ("dmId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict FEp9ZEKNrgqa7iJWkJsF8ePSyMkWcse7l6bk0Pr4VFXVqYgfHmKYxI7cTfn9yjt

